{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searching all List of Tarjome Requests</title>

    <!-- bootsrap -->
    <link rel="stylesheet" href="{% static 'showSomeResult/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <script src="{% static 'showSomeResult/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'showSomeResult/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>

    <!-- semantic -->
    <link rel="stylesheet" type="text/css" href="{% static 'showSomeResult/SemanticThings/semantic.css' %}">
    <script src="{% static 'showSomeResult/SemanticThings/jquery.min.js' %}"></script>
    <script src="{% static 'showSomeResult/SemanticThings/semantic.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
         /*   $('.ui.form')
              .form({
                    fields: {
                      bookName: {
                        identifier: 'bookName',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Please enter a password'
                          },
                          {
                            type   : minLength[5],
                            prompt : 'the minLength is 5'
                          }
                        ]
                      },
                      EsmeMotarjem: {
                        identifier: 'EsmeMotarjem',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Please enter a motarjemName'
                          }
                        ]
                      },
                      terms: {
                        identifier: 'terms',
                        rules: [
                          {
                            type   : 'checked',
                            prompt : 'You must agree to the terms and conditions'
                          }
                        ]
                      }
                    }
                  })
                ;
                */
             $('.ui.form')
              .form({
                fields: {
                  bookName : ['minLength[2]', 'empty'],
                  EsmeMotarjem   : ['minLength[2]', 'empty'],
                  terms    : 'checked'
                }
              })
            ;
            $('.ui.checkbox')
              .checkbox()
            ;
        });
    </script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        /* Set gray background color and 100% height */
        .sidenav {
          padding-top: 20px;
          background-color: #f1f1f1;
          height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
          background-color: #555;
          color: white;
          padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;}
        }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">

{#    <div class="col-sm-8 text-left">#}
{#      <h1>Welcome</h1>#}
{##}
{#            <form class="ui form">#}
{#              <div class="field">#}
{#                <label>Book Name</label>#}
{#                <input type="text" name="bookName" placeholder="Book Name">#}
{#              </div>#}
{#              <div class="field">#}
{#                <label>motarjem Name</label>#}
{#                <input type="text" name="EsmeMotarjem" placeholder="Last Name">#}
{#              </div>#}
{#              <div class="field">#}
{#                <div class="ui checkbox">#}
{#                  <input type="checkbox" tabindex="0" class="hidden" name="terms">#}
{#                  <label>I agree to the Terms and Conditions</label>#}
{#                </div>#}
{#              </div>#}
{#              <button class="ui button" type="submit">Submit</button>#}
{#            </form>#}
{##}
{#    </div>#}

    <br>
    <div id="testFormInDjango">
        <form action="" method="post">
            {% csrf_token %}
{#            <label for="book_ID">Your book_ID: </label>#}
{#            <input id="book_ID" type="text" name="book_ID" >    {{ form.book_ID.errors }}#}
{#            <br>#}
{#            <label for="book_name">Your book_name: </label>#}
{#            <input id="book_name" type="text" name="book_name" >    {{ form.book_name.errors }}#}
{#            <br>#}
{#            <label for="lang">Your desired lang: </label>#}
{#            <input id="lang" type="text" name="lang" >    {{ form.language.errors }}#}


            {{ form.as_p }}


            <input type="submit" value="OK">
        </form>
    </div>

    <br>
    <div>
          {% for book in bookList %}
            <li>{{ book }}</li>
          {% endfor %}
{#        {{ bookList }}#}
    </div>

  </div>




</div>



</body>
</html>